@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Regular.woff2) format('woff2'),
        url(../fonts/GraphikLCG-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Semibold.woff2) format('woff2'),
        url(../fonts/GraphikLCG-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #000;
    font-family: 'Graphik LCG', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

img {
    max-width: 100%;
    width: auto;
    height: 100%;
    vertical-align: top;
}

a {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
    transition: all .8s;
}

a:hover {
    color: #FF6336;
}

.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 20px;
    margin: 0 auto;
}

#header {
    border-bottom: 1px solid #CCCCCC;
    padding: 33px 0;
    position: relative;
}

.header-menu {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
}

.opener {
    position: relative;
    display: none;
    background-color: #FF6336;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    margin: 20px 45px;
    cursor: pointer;
    transition: all .8s;
}

.opener::before,
.opener::after,
.opener span {
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .8s;
}

#opener {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.opener::before {
    top: 35%;
}

.opener::after {
    top: 65%;
}

#opener:checked+.opener::before {
    top: 50%;
    transform: translate(-50%,-50%) rotate(225deg);
}

#opener:checked+.opener::after {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-225deg);
}

#opener:checked+.opener span {
    width: 0;
}

@media (max-width: 992px) {
    .opener {
        display: block;
        position: absolute;
        right: 0;
        z-index: 10;
    }
}

#opener:checked~.nav {
    display: block;
}

.nav {
    display: flex;
}

@media (max-width: 992px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        color: #fff;
        background-color: rgb(255 98 54 / 75%);
        border-radius: 10px;
        width: 280px;
        padding: 30px;;
        top: 35px;
        right: 45px;
        transition: all .8s;
    }

}

.menu {
    display: flex;
    padding-left: 25px;
}

@media (max-width: 992px) {
    .menu {
        flex-direction: column;
    }
}


.menu>li {
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
}


.menu>li>a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 30px;
    margin-left: 30px;
    transition: all .8s;
    white-space: nowrap;
}

.menu>li>a:hover {
    color: #FF6336;
} 

@media (max-width: 992px) {
    .menu>li>a {
        padding: 10px 0;
        color: #fff;
    }
    .menu>li>a:hover {
        text-decoration: underline;
        color: #fff;
    }
}
.buttons {
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 45px;
}
@media(max-width: 992px) {
    .buttons {
        margin-left: 35px;
    }
}

.btn {
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 15px;
    color: black;
    background: #ffffffc6;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding: 12px 36px;
    transition: all .8s;
    white-space: nowrap;
}

.btn:hover { 
    color: #fff;
    background-color: #FF6336;
    border: 1px solid #FF6336;
}

.btn--orange {
    color: #fff;
    background-color: #FF6336;
    border: 1px solid #FF6336;
    padding: 12px 22px;
    margin-top: 15px;
}

.btn--orange:hover {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #fff;
}

.hero-section {
    display: flex;
    padding-top: 97px;
    padding-bottom: 150px;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 992px) {
    .hero-section {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.text-wrap h1 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 600;
    padding-bottom: 50px;
}

@media (max-width: 992px){
    .text-wrap h1 {
        text-align: center;
    }
}

.text-wrap  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}

@media (max-width: 992px) {
    .text-wrap {
        margin-top: 30px;
        flex-direction: column;
    
    }
}

.text-wrap p {
    width: 45%;
    align-self: flex-start;
    padding-bottom: 50px;

}
@media (max-width: 992px) {
    .text-wrap p {
        align-self: center;
        text-align: center;
    }
}

.text-wrap span {
    font-size: 15px;
}

.visual {
    display: flex;
    width: 100%;
    padding-top: 54px;
}

@media (max-width: 992px) {
    .visual  {
        padding-top: 0;
        justify-content: center;
    }
}

.visual img {
    height: 529px;
    width: auto;
}

.hero-buttons {
    display: block;
    padding-bottom: 50px;
}
@media (max-width: 992px) {
    .hero-buttons {
        align-self: center;
    }
}

.btn-l {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 41px;
    margin-left: 0;
    margin-right: 10px;
}
.text-wrap span {
   padding-bottom: 35px;
}

.logo-section {
    background: #FF9C7D;
}

.logo-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
}
@media (max-width: 992px) {
    .logo-block {
        padding-top: 30px;
    }
}



h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}

.logo-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 94px;
}

@media (max-width: 992px) {
    .logo-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.logo-list li {
    list-style: none;
    justify-content: center;
}

@media (max-width: 992px) {
    .logo-list li {
        
        display: inline-flex;
        width: 33.33%;
        margin-top: 30px;
    }
}
@media (max-width:768px) {
    .logo-list li {
        width: 50%;
    }
}
@media (max-width: 992px){
    .logo-list img {
        align-self: center;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 100px 0;

}
@media (max-width:992px) {
    .cards {
        margin: 0;
        margin-top: 30px;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    flex-direction: row;
}
@media (max-width: 992px) {
    .card {
        margin-bottom: 30px;
    }
}


@media (max-width: 992px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
}

.card:nth-child(2n) {
    flex-direction: row-reverse;
}
@media (max-width: 992px) {
    .card:nth-child(2n) {
        flex-direction: column;
        align-items: center;
    }
}

.card-text {
    width: 40%;
    align-self: center;
}
@media (max-width: 992px) {
    .card-text {
        width: 100%;
        margin-bottom: 60px;
    }
}

.card-text h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}

.card-text p {
    margin: 30px 0;
}

.card-text>a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    transition: all .8s;
}

.card-text>a:hover {
    text-decoration: underline;
    color: #FF6336;
}

.card-image {
    width: 50%;
    display: flex;
}
@media (max-width: 992px) {
    .card-image {
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .card-image img {
        width: auto;
        height: 632px;
    }
}

.lokalise h2 {
    padding-top: 120px;
}
@media (max-width: 992px) {
    .lokalise h2 {
        padding-top: 30px;
    }
}

.lokalise-section {
    background-color: #FFF8E4;
}

.lokalise-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
}
@media (max-width:992px){
    .lokalise-cards {
        padding: 30px;
    }
}

.lokalise-card {
    width: 30%;
    padding: 30px;
    text-align: center;
    list-style: none;
}
@media (max-width:992px) {
    .lokalise-card {
        width: 50%;
    }
}
@media (max-width: 768px){
    .lokalise-card {
        width: 100%;
    }
}

.lokalise-card img {
    width: 160px;
    height: 120px; 
    padding-bottom: 25px;
}

.lokalise-card p {
    padding-top: 20px;
}

.boost h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    padding-top: 150px;
    padding-bottom: 75px;
}
@media (max-width: 992px) {
    .boost h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.work-cards {
    display: flex;
    padding-top: 75px;
    padding-bottom: 100px;
}

.work-card {
    list-style: none;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width: 992px) {
    .work-card {
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .work-cards {
        padding-top: 0;
        padding-bottom: 30px;
        flex-direction: column;
    }
}
.card-visual img{
    width: 145px;
    height: 201px;
}



.card-txt {
    margin-top: 50px;
}

.card-txt h4 {
    font-size: 30px;
    line-height: 35px;
}

.card-txt p {
    font-size: 20px;
    line-height: 25px;
    padding: 30px 0;
}

.card-txt>a {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 50px;
    transition: all .8s;
}

.card-txt>a:hover {
    color: #FF6336;
}

.men-section {
    background-color: #C9E8F2;
}

.men-block {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
@media (max-width: 992px) {
    .men-block {
        padding-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.men-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}
@media (max-width: 992px) {
    .men-text {
        width:100%;
        margin-bottom: 30px;
    }
}

blockquote p {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 25px;
}

blockquote span {
    font-size: 15px;
    padding-bottom: 10px;

}

.men-text a {
    margin-top: 7px;
    width: 15%;
}
@media (max-width: 992px) {
    .men-text a {
        align-self: center;
    }
}

.men-visual {
    padding-bottom: 100px;
}
@media (max-width: 992px) {
    .men-visual {
        padding-bottom: 30px;
    }
}

.cake-section {
    background-color: #DABC98;
    padding-bottom: 80px;
}
@media (max-width: 992px) {
    .cake-section {
        padding-bottom: 30px;
    }
}

.cake-block {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
@media (max-width: 992px) {
    .cake-block {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}

.cake-wrap {
    display: flex;
    align-items: center;
}
@media(max-width:992px) {
    .cake-wrap {
        justify-content: center;
    }
}
@media (max-width : 768px) {
    .cake-wrap {
        flex-direction: column;
    }
}

.rating {
    display: flex;
    align-items: center;
    border-left: 1px solid #000;
}
@media (max-width:992px) {
    .rating {
        border-left: none;
    }
}


.rating a {
    margin-left: 70px;
}
@media (max-width:768px) {
    .rating a {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.rating a img {
    max-width: none;
    width: 135px;
    height: 114px;
}

.cake-wrap h4 {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 70px;
    width: 65%;
}
@media (max-width:992px ) {
    .cake-wrap h4 {
        padding-left: 0;
        text-align: end;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .cake-wrap h4 {
        text-align: center;
    }
}


.integration {
    margin-top: 170px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (max-width:992px) {
    .integration {
        margin-top: 30px;
        padding-bottom: 30px;
    }
}

.integration>img {
    padding-bottom: 32px;
}

.integration,
h2,
p {
    align-self: center;
}

.integration h2 {
    width: 70%;
    font-size: 65px;
}

.integration p {
    width: 370px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.int-btn {
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: #FF6336;
    border: 1px solid transparent;
    padding: 20px 36px;
    transition: all .8s;
}

.int-btn:hover {
    border: 1px solid #FF6336;
    border-radius: 20px;
    background-color: transparent;
    color: #FF6336;

}

.try-section {
    background-color: #FF9C7D;
}

.try {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
}
@media (max-width: 992px) {
    .try {
        padding: 30px 0;
    }
}

.try h2 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 600;
    padding-bottom: 30px;
    width: 70%;
    align-self: center;
}

.try p {
    padding-bottom: 80px;
}

.try-btn {
    align-self: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    padding: 20px 40px;
    border: 1px solid transparent;
    transition: all .8s;
}

.try-btn:hover {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    border-radius: 25px;
}

footer {
    background-color: #EEEEEE;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 95px;
    border-bottom: 1px solid #000;
}
@media(max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}

.case {
    width: 20%;
}
@media (max-width: 768px) {
    .case {
        width: 50%;
        align-self: center;
        padding-bottom: 30px;
    }
}

.case img {
    max-width: none;
    width: 300px;
    height: 300px;
}

.case h3 {
    padding-bottom: 30px;
    font-size: 40px;
}

.case>a>img {
    width: 80px;
    height: 32px;
    max-width: none;
    margin-top: 30px;
    margin-bottom: 10px;
   
}

.case a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 25px;
}


.case p {
    padding-bottom: 25px;
}

.footer__menu {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
@media (max-width: 992px) {
    .footer__menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:768px) {
    .footer__menu {
        justify-content: flex-end;
        
    }
}

.col {
    text-align: left;
    margin-left: 40px;
}
@media (max-width: 992px) {
    .col {
        width: 30%;
    }
}

h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 21px;
}

.col-items li {
    list-style: none;
    vertical-align: top;
    padding-bottom: 10px;
}

.col-items li>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    transition: all 1s;
}

.col-items li>a:hover {
    color: #FF6336;
    text-decoration: underline;
}

.copyright-section {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.copyright-logo {
    display: flex;
    align-items: center;
}

.copyright-logo p {
    width: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    padding-left: 15px;
}

.copyright {
    align-items: center;
    padding-right: 70px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

